@using Microsoft.AspNetCore.Http
@using ProjectAss.Models
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-full">
    <div id="primary" class="content-area">
        <div class="stretch-full-width">
            <main id="main" class="site-main">
                <div class="home-v1-slider">
                    <div id="owl-main" class="owl-carousel owl-inner-nav owl-ui-sm">

                        <div class="item slider-1" style="background-image: url(/assets/images/slider/homepage-slider-1.jpg);">
                            <div class="caption fadeIn">
                                <div class="pre-title">
                                    <div class="border front"></div>
                                    <div class="lable">New!</div>
                                    <div class="pre-title-value">LIMITED TIME OFFER</div>
                                    <div class="border back"></div>
                                </div>
                                <div class="title">SUPREME BBQ</div>
                                <div class="sub-title">CHICKEN</div>
                                <div class="bottom-caption">Bacon  -  Grilled Onions  -  Potatos  -  Mozarella  -  BBQ Sauce</div>
                            </div>
                            <!-- /.caption -->
                        </div>
                        <!-- /.item -->
                        <div class="item slider-2" style="background-image: url(/assets/images/slider/homepage-slider-2.jpg);">
                            <div class="caption fadeIn">
                                <div class="price-tag">
                                    <div class="border front"> </div>
                                    <div class="price-tag-value">
                                        <div class="price"><span class="symbol">$</span>12<span class="slider-amount">99<br><span class="price-only">only</span></span> </div>
                                    </div>
                                    <div class="border back"> </div>
                                </div>
                                <div class="title">ORYGINAL ITALY</div>
                                <div class="sub-title">PIZZA LOVERS SET</div>
                            </div>
                            <!-- /.caption -->
                        </div>

                        <!-- /.item -->
                        <div class="item slider-3" style="background-image: url(/assets/images/slider/homepage-slider-3.jpg);">
                            <div class="caption fadeIn">
                                <div class="pre-title">DISCOVER WHAT'S NEW</div>
                                <div class="title"><span>and</span>order<span>with<br>visa</span>online</div>
                            </div>
                            <!-- /.caption -->
                        </div>
                        <!-- /.item -->
                        <div class="item slider-4" style="background-image: url(/assets/images/slider/homepage-slider-4.jpg);">
                            <div class="caption fadeIn">
                                <div class="pre-title">EXCLUSIVE OFFER</div>
                                <div class="title"><span>VEGGIE FUN</span><br>DELICIOUS SUMMER!</div>
                            </div>
                            <!-- /.caption -->
                        </div>
                        <!-- /.item -->
                    </div>
                    <!-- /.owl-carousel -->
                </div>
                <!-- categories to shop -->
                <section class="section-product-categories">
                    <h3 class="pre-title"><span>Pick your taste</span></h3>
                    <h2 class="section-title">Explore Menu</h2>
                    <div class="categories">
                        @foreach (TblCategory ca in Model)
                        {
                            <div class="category">
                                <a href="/Shop/Shoping/@ca.FoodTypeId">
                                    <img src="~/assets/images/homepage-banners/21.jpg" alt="@ca.TypeName" />
                                    <div class="caption">
                                        <h4>@ca.TypeName</h4>
                                    </div>
                                </a>
                            </div>
                        }
                    </div>
                </section>

                <div class="banner center-right">
                    <a href="#">
                        <div class="banner-bg" style="background-size: cover; background-position: center center; background-image: url( /assets/images/homepage-banners/25.jpg); height: 725px;">
                            <div class="caption">
                                <h3 class="title">STUDENT HAPPY HOURS</h3>
                                <div class="description">
                                    <div class="price">
                                        <span>$</span>8
                                    </div>
                                    <div class="text">FOR PIZZA ON MONDAYS</div>
                                </div>
                                <span class="condition"><em>*</em>Only in Mondays in local from 8:00 am to 9:00 pm.</span>
                            </div>
                        </div>
                    </a>
                </div>
                <section class="newsletter-subscription" style="background-size: cover; background-position: center center; background-image: url( /assets/images/homepage-banners/26.jpg); height: 460px;">
                    <div class="caption">
                        <h3 class="title">Subscribe to Newsletter</h3>
                        <span class="marketing-text">Subscribe to receive our weekly Hot Promotions every Monday!</span>
                        <form>
                            <div class="newsletter-form">
                                <input type="text" placeholder="Type here your email address to receive our newsletter">
                                <button class="button" type="button">Sign Up</button>
                            </div>
                        </form>
                    </div>
                </section>
            </main>
            <!-- #main -->
        </div>
    </div>
    <!-- #primary -->
</div>
<!-- .col-full -->
