@using Microsoft.AspNetCore.Http
@using ProjectAss.Models
@{
    Layout = "~/Views/Shared/_LayoutDetails.cshtml";
}
<div id="content" class="site-content" tabindex="-1">
    <div class="col-full">
        <div class="pizzaro-breadcrumb">
            <nav class="woocommerce-breadcrumb" itemprop="breadcrumb">
                <a href="index.html">Home</a><span class="delimiter"><i class="po po-arrow-right-slider"></i></span>
                <a href="shop-grid-4-column.html">Pizza</a>
                <span class="delimiter"><i class="po po-arrow-right-slider"></i></span>Hawaii Vegetarian Pizza
            </nav>
        </div>
        <!-- /.woocommerce-breadcrumb -->
        <div id="primary" class="content-area">
            <main id="main" class="site-main">
                <div class="product type-product status-publish has-post-thumbnail product_cat-pizza pa_food-type-veg first instock shipping-taxable purchasable product-type-variable has-children">
                    <div class="single-product-wrapper">
                        <div class="product-images-wrapper">
                            <div class="images">
                                <a href="~/assets/images/single-product/1.jpg" itemprop="image" class="woocommerce-main-image zoom" title="" data-rel="prettyPhoto[product-gallery]">
                                    <img width="600" height="600" src="~/assets/images/single-product/1.jpg" class="attachment-shop_single size-shop_single wp-post-image" alt="">
                                </a>
                            </div>
                        </div>
                        <!-- /.product-images-wrapper -->
                        <div class="summary entry-summary">
                            <h1 itemprop="name" class="product_title entry-title">Hawaii Vegetarian Pizza<span class="food-type-icon"><i class="po po-veggie-icon"></i></span></h1>
                            <div itemprop="offers">
                                <p class="price">
                                    <span class="woocommerce-Price-amount amount">
                                        <span class="woocommerce-Price-currencySymbol">$</span>39.80
                                    </span>–<span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>59.90</span>
                                </p>
                            </div>
                            <div itemprop="description">
                                <p>Mouth watering pepperoni, cabanossi, mushroom, capsicum, black olives and stretchy mozzarella, seasoned with garlic and oregano.</p>
                            </div>
                            <!-- AddToAny BEGIN -->
                            <div class="social-share-btn a2a_kit a2a_kit_size_32 a2a_default_style" style="line-height: 32px;">
                                <a class="a2a_dd" href="https://www.addtoany.com/share#url=file%3A%2F%2F%2FC%3A%2FUsers%2Fptuan%2FOneDrive%2FDesktop%2Fclient-pizza-983b67ea6e057979b391ee40e1937b7cd79012d2%2Fclient-pizza-983b67ea6e057979b391ee40e1937b7cd79012d2%2Fsingle-product-v2.html&amp;title=Pizzaro"><span class="a2a_svg a2a_s__default a2a_s_a2a" style="background-color: rgb(1, 102, 255);"><svg focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><g fill="#FFF"><path d="M14 7h4v18h-4z"></path><path d="M7 14h18v4H7z"></path></g></svg></span><span class="a2a_label">Share</span></a>
                                <a class="a2a_button_facebook" target="_blank" href="/#facebook" rel="nofollow"><span class="a2a_svg a2a_s__default a2a_s_facebook" style="background-color: rgb(59, 89, 152);"><svg focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path fill="#FFF" d="M17.78 27.5V17.008h3.522l.527-4.09h-4.05v-2.61c0-1.182.33-1.99 2.023-1.99h2.166V4.66c-.375-.05-1.66-.16-3.155-.16-3.123 0-5.26 1.905-5.26 5.405v3.016h-3.53v4.09h3.53V27.5h4.223z"></path></svg></span><span class="a2a_label">Facebook</span></a>
                                <a class="a2a_button_twitter" target="_blank" href="/#twitter" rel="nofollow"><span class="a2a_svg a2a_s__default a2a_s_twitter" style="background-color: rgb(85, 172, 238);"><svg focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path fill="#FFF" d="M28 8.557a9.913 9.913 0 0 1-2.828.775 4.93 4.93 0 0 0 2.166-2.725 9.738 9.738 0 0 1-3.13 1.194 4.92 4.92 0 0 0-3.593-1.55 4.924 4.924 0 0 0-4.794 6.049c-4.09-.21-7.72-2.17-10.15-5.15a4.942 4.942 0 0 0-.665 2.477c0 1.71.87 3.214 2.19 4.1a4.968 4.968 0 0 1-2.23-.616v.06c0 2.39 1.7 4.38 3.952 4.83-.414.115-.85.174-1.297.174-.318 0-.626-.03-.928-.086a4.935 4.935 0 0 0 4.6 3.42 9.893 9.893 0 0 1-6.114 2.107c-.398 0-.79-.023-1.175-.068a13.953 13.953 0 0 0 7.55 2.213c9.056 0 14.01-7.507 14.01-14.013 0-.213-.005-.426-.015-.637.96-.695 1.795-1.56 2.455-2.55z"></path></svg></span><span class="a2a_label">Twitter</span></a>
                                <a class="a2a_button_google_plus" target="_blank" href="/#google_plus" rel="nofollow"><span class="a2a_svg a2a_s__default a2a_s_google_plus" style="background-color: rgb(221, 75, 57);"><svg focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M27 15h-2v-2h-2v2h-2v2h2v2h2v-2h2m-15-2v2.4h3.97c-.16 1.03-1.2 3.02-3.97 3.02-2.39 0-4.34-1.98-4.34-4.42s1.95-4.42 4.34-4.42c1.36 0 2.27.58 2.79 1.08l1.9-1.83C15.47 9.69 13.89 9 12 9c-3.87 0-7 3.13-7 7s3.13 7 7 7c4.04 0 6.72-2.84 6.72-6.84 0-.46-.05-.81-.11-1.16H12z" fill="#FFF"></path></svg></span><span class="a2a_label">Google+</span></a>
                                <a class="a2a_button_pinterest" target="_blank" href="/#pinterest" rel="nofollow"><span class="a2a_svg a2a_s__default a2a_s_pinterest" style="background-color: rgb(189, 8, 28);"><svg focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M16.56 4C10 4 6.71 8.7 6.71 12.61c0 2.37.9 4.48 2.82 5.27a.47.47 0 0 0 .69-.34l.28-1.11a.67.67 0 0 0-.2-.77A4 4 0 0 1 9.4 13a6.53 6.53 0 0 1 6.79-6.6c3.7 0 5.74 2.26 5.74 5.28 0 4-1.76 7.33-4.37 7.33a2.13 2.13 0 0 1-2.18-2.66c.41-1.75 1.22-3.63 1.22-4.89a1.85 1.85 0 0 0-1.86-2.07c-1.47 0-2.66 1.53-2.66 3.57a5.31 5.31 0 0 0 .44 2.18l-1.77 7.51a15.45 15.45 0 0 0 0 5.24.18.18 0 0 0 .33.08 14.71 14.71 0 0 0 2.49-4.51c.17-.61 1-3.79 1-3.79a4 4 0 0 0 3.37 1.72c4.43 0 7.44-4 7.44-9.45C25.29 7.81 21.83 4 16.56 4z" fill="#fff"></path></svg></span><span class="a2a_label">Pinterest</span></a>
                                <div style="clear: both;"></div>
                            </div>
                            <!-- AddToAny END -->
                            <div class="thumbnails columns-4">
                                <a href="~/assets/images/single-product/1.jpg" class="zoom first" title="" data-rel="prettyPhoto[product-gallery]">
                                    <img width="180" height="180" src="~/assets/images/single-product/1.jpg" class="attachment-shop_thumbnail size-shop_thumbnail" alt="">
                                </a>
                                <a href="~/assets/images/single-product/2.jpg" class="zoom" title="" data-rel="prettyPhoto[product-gallery]">
                                    <img width="180" height="180" src="~/assets/images/single-product/2.jpg" class="attachment-shop_thumbnail size-shop_thumbnail" alt="">
                                </a>
                            </div>
                        </div>
                        <!-- .summary -->
                    </div>
                    <!-- /.single-product-wrapper -->
                    <div class="product-form-wrapper">
                        <div class="delivery-time">Delivery: <span>35 minutes</span></div>
                        <form class="variations_form cart" enctype="multipart/form-data" data-product_id="116" data-product_variations="[{&quot;variation_id&quot;:117,&quot;variation_is_visible&quot;:true,&quot;variation_is_active&quot;:true,&quot;is_purchasable&quot;:true,&quot;display_price&quot;:41.9,&quot;display_regular_price&quot;:41.9,&quot;attributes&quot;:{&quot;attribute_select-crust&quot;:&quot;Double Crust&quot;,&quot;attribute_select-size&quot;:&quot;Small - 22cm&quot;},&quot;image_src&quot;:&quot;&quot;,&quot;image_link&quot;:&quot;&quot;,&quot;image_title&quot;:&quot;&quot;,&quot;image_alt&quot;:&quot;&quot;,&quot;image_caption&quot;:&quot;&quot;,&quot;image_srcset&quot;:&quot;&quot;,&quot;image_sizes&quot;:&quot;&quot;,&quot;price_html&quot;:&quot;<span class=\&quot;price\&quot;><span class=\&quot;woocommerce-Price-amount amount\&quot;><span class=\&quot;woocommerce-Price-currencySymbol\&quot;>&amp;#36;<\/span>41.90<\/span><\/span>&quot;,&quot;availability_html&quot;:&quot;&quot;,&quot;sku&quot;:&quot;&quot;,&quot;weight&quot;:&quot; kg&quot;,&quot;dimensions&quot;:&quot;&quot;,&quot;min_qty&quot;:1,&quot;max_qty&quot;:null,&quot;backorders_allowed&quot;:false,&quot;is_in_stock&quot;:true,&quot;is_downloadable&quot;:false,&quot;is_virtual&quot;:false,&quot;is_sold_individually&quot;:&quot;no&quot;,&quot;variation_description&quot;:&quot;&quot;},{&quot;variation_id&quot;:118,&quot;variation_is_visible&quot;:true,&quot;variation_is_active&quot;:true,&quot;is_purchasable&quot;:true,&quot;display_price&quot;:39.8,&quot;display_regular_price&quot;:39.8,&quot;attributes&quot;:{&quot;attribute_select-crust&quot;:&quot;Thin Crust without sause&quot;,&quot;attribute_select-size&quot;:&quot;Small - 22cm&quot;},&quot;image_src&quot;:&quot;&quot;,&quot;image_link&quot;:&quot;&quot;,&quot;image_title&quot;:&quot;&quot;,&quot;image_alt&quot;:&quot;&quot;,&quot;image_caption&quot;:&quot;&quot;,&quot;image_srcset&quot;:&quot;&quot;,&quot;image_sizes&quot;:&quot;&quot;,&quot;price_html&quot;:&quot;<span class=\&quot;price\&quot;><span class=\&quot;woocommerce-Price-amount amount\&quot;><span class=\&quot;woocommerce-Price-currencySymbol\&quot;>&amp;#36;<\/span>39.80<\/span><\/span>&quot;,&quot;availability_html&quot;:&quot;&quot;,&quot;sku&quot;:&quot;&quot;,&quot;weight&quot;:&quot; kg&quot;,&quot;dimensions&quot;:&quot;&quot;,&quot;min_qty&quot;:1,&quot;max_qty&quot;:null,&quot;backorders_allowed&quot;:false,&quot;is_in_stock&quot;:true,&quot;is_downloadable&quot;:false,&quot;is_virtual&quot;:false,&quot;is_sold_individually&quot;:&quot;no&quot;,&quot;variation_description&quot;:&quot;&quot;},{&quot;variation_id&quot;:119,&quot;variation_is_visible&quot;:true,&quot;variation_is_active&quot;:true,&quot;is_purchasable&quot;:true,&quot;display_price&quot;:40.9,&quot;display_regular_price&quot;:40.9,&quot;attributes&quot;:{&quot;attribute_select-crust&quot;:&quot;Thick Crust&quot;,&quot;attribute_select-size&quot;:&quot;Small - 22cm&quot;},&quot;image_src&quot;:&quot;&quot;,&quot;image_link&quot;:&quot;&quot;,&quot;image_title&quot;:&quot;&quot;,&quot;image_alt&quot;:&quot;&quot;,&quot;image_caption&quot;:&quot;&quot;,&quot;image_srcset&quot;:&quot;&quot;,&quot;image_sizes&quot;:&quot;&quot;,&quot;price_html&quot;:&quot;<span class=\&quot;price\&quot;><span class=\&quot;woocommerce-Price-amount amount\&quot;><span class=\&quot;woocommerce-Price-currencySymbol\&quot;>&amp;#36;<\/span>40.90<\/span><\/span>&quot;,&quot;availability_html&quot;:&quot;&quot;,&quot;sku&quot;:&quot;&quot;,&quot;weight&quot;:&quot; kg&quot;,&quot;dimensions&quot;:&quot;&quot;,&quot;min_qty&quot;:1,&quot;max_qty&quot;:null,&quot;backorders_allowed&quot;:false,&quot;is_in_stock&quot;:true,&quot;is_downloadable&quot;:false,&quot;is_virtual&quot;:false,&quot;is_sold_individually&quot;:&quot;no&quot;,&quot;variation_description&quot;:&quot;&quot;},{&quot;variation_id&quot;:120,&quot;variation_is_visible&quot;:true,&quot;variation_is_active&quot;:true,&quot;is_purchasable&quot;:true,&quot;display_price&quot;:39.8,&quot;display_regular_price&quot;:39.8,&quot;attributes&quot;:{&quot;attribute_select-crust&quot;:&quot;Original Crust&quot;,&quot;attribute_select-size&quot;:&quot;Small - 22cm&quot;},&quot;image_src&quot;:&quot;&quot;,&quot;image_link&quot;:&quot;&quot;,&quot;image_title&quot;:&quot;&quot;,&quot;image_alt&quot;:&quot;&quot;,&quot;image_caption&quot;:&quot;&quot;,&quot;image_srcset&quot;:&quot;&quot;,&quot;image_sizes&quot;:&quot;&quot;,&quot;price_html&quot;:&quot;<span class=\&quot;price\&quot;><span class=\&quot;woocommerce-Price-amount amount\&quot;><span class=\&quot;woocommerce-Price-currencySymbol\&quot;>&amp;#36;<\/span>39.80<\/span><\/span>&quot;,&quot;availability_html&quot;:&quot;&quot;,&quot;sku&quot;:&quot;&quot;,&quot;weight&quot;:&quot; kg&quot;,&quot;dimensions&quot;:&quot;&quot;,&quot;min_qty&quot;:1,&quot;max_qty&quot;:null,&quot;backorders_allowed&quot;:false,&quot;is_in_stock&quot;:true,&quot;is_downloadable&quot;:false,&quot;is_virtual&quot;:false,&quot;is_sold_individually&quot;:&quot;no&quot;,&quot;variation_description&quot;:&quot;&quot;},{&quot;variation_id&quot;:121,&quot;variation_is_visible&quot;:true,&quot;variation_is_active&quot;:true,&quot;is_purchasable&quot;:true,&quot;display_price&quot;:49.9,&quot;display_regular_price&quot;:49.9,&quot;attributes&quot;:{&quot;attribute_select-crust&quot;:&quot;&quot;,&quot;attribute_select-size&quot;:&quot;Medium - 29cm&quot;},&quot;image_src&quot;:&quot;&quot;,&quot;image_link&quot;:&quot;&quot;,&quot;image_title&quot;:&quot;&quot;,&quot;image_alt&quot;:&quot;&quot;,&quot;image_caption&quot;:&quot;&quot;,&quot;image_srcset&quot;:&quot;&quot;,&quot;image_sizes&quot;:&quot;&quot;,&quot;price_html&quot;:&quot;<span class=\&quot;price\&quot;><span class=\&quot;woocommerce-Price-amount amount\&quot;><span class=\&quot;woocommerce-Price-currencySymbol\&quot;>&amp;#36;<\/span>49.90<\/span><\/span>&quot;,&quot;availability_html&quot;:&quot;&quot;,&quot;sku&quot;:&quot;&quot;,&quot;weight&quot;:&quot; kg&quot;,&quot;dimensions&quot;:&quot;&quot;,&quot;min_qty&quot;:1,&quot;max_qty&quot;:null,&quot;backorders_allowed&quot;:false,&quot;is_in_stock&quot;:true,&quot;is_downloadable&quot;:false,&quot;is_virtual&quot;:false,&quot;is_sold_individually&quot;:&quot;no&quot;,&quot;variation_description&quot;:&quot;&quot;},{&quot;variation_id&quot;:122,&quot;variation_is_visible&quot;:true,&quot;variation_is_active&quot;:true,&quot;is_purchasable&quot;:true,&quot;display_price&quot;:59.9,&quot;display_regular_price&quot;:59.9,&quot;attributes&quot;:{&quot;attribute_select-crust&quot;:&quot;&quot;,&quot;attribute_select-size&quot;:&quot;Large - 35cm&quot;},&quot;image_src&quot;:&quot;&quot;,&quot;image_link&quot;:&quot;&quot;,&quot;image_title&quot;:&quot;&quot;,&quot;image_alt&quot;:&quot;&quot;,&quot;image_caption&quot;:&quot;&quot;,&quot;image_srcset&quot;:&quot;&quot;,&quot;image_sizes&quot;:&quot;&quot;,&quot;price_html&quot;:&quot;<span class=\&quot;price\&quot;><span class=\&quot;woocommerce-Price-amount amount\&quot;><span class=\&quot;woocommerce-Price-currencySymbol\&quot;>&amp;#36;<\/span>59.90<\/span><\/span>&quot;,&quot;availability_html&quot;:&quot;&quot;,&quot;sku&quot;:&quot;&quot;,&quot;weight&quot;:&quot; kg&quot;,&quot;dimensions&quot;:&quot;&quot;,&quot;min_qty&quot;:1,&quot;max_qty&quot;:null,&quot;backorders_allowed&quot;:false,&quot;is_in_stock&quot;:true,&quot;is_downloadable&quot;:false,&quot;is_virtual&quot;:false,&quot;is_sold_individually&quot;:&quot;no&quot;,&quot;variation_description&quot;:&quot;&quot;}]">
                            <table class="variations">
                                <tbody>
                                    <tr>
                                        <td class="label"><label for="select-crust">Select Crust</label></td>
                                        <td class="value">
                                            <select id="select-crust" class="" name="attribute_select-crust" data-attribute_name="attribute_select-crust">
                                                <option value="">Choose an option</option>
                                                <option value="Original Crust">Original Crust</option>
                                                <option value="Thick Crust">Thick Crust</option>
                                                <option value="Thin Crust without sause">Thin Crust without sause</option>
                                                <option value="Double Crust">Double Crust</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="label"><label for="select-size">Select Size</label></td>
                                        <td class="value">
                                            <select id="select-size" class="" name="attribute_select-size" data-attribute_name="attribute_select-size">
                                                <option value="">Choose an option</option>
                                                <option value="Small - 22cm">Small - 22cm</option>
                                                <option value="Medium - 29cm">Medium - 29cm</option>
                                                <option value="Large - 35cm" selected="selected">Large - 35cm</option>
                                            </select>
                                            <a class="reset_variations" href="#">Clear</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="single_variation_wrap">
                                <div class="woocommerce-variation single_variation"></div>
                                <div class="woocommerce-variation-add-to-cart variations_button">
                                    <div class="qty-btn">
                                        <label>Quantity</label>
                                        <div class="quantity">
                                            <input type="number" name="quantity" value="1" title="Qty" class="input-text qty text" size="4">
                                        </div>
                                    </div>
                                    <button type="submit" class="single_add_to_cart_button button alt">Add to cart</button>
                                    <input type="hidden" name="add-to-cart" value="116">
                                    <input type="hidden" name="product_id" value="116">
                                    <input type="hidden" name="variation_id" class="variation_id" value="0">
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- /.product-images-wrapper -->
                    <div class="woocommerce-tabs wc-tabs-wrapper">
                        <ul class="nav nav-tabs pizzaro-nav-tabs tabs wc-tabs">
                            <li class="nav-item description_tab active">
                                <a href="#tab-description" class="active" data-toggle="tab">Description</a>
                            </li>
                            <li class="nav-item reviews_tab">
                                <a href="#tab-reviews" data-toggle="tab">Reviews</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane panel active entry-content wc-tab" id="tab-description">
                                <div class="tab-description">
                                    <p>Although the legendary Double Burger really needs no introduction, please allow us... Tucked in between three soft buns are two all-beef patties, cheddar cheese, ketchup, onion, pickles and iceberg lettuce. Hesburger’s own paprika and cucumber mayonnaise add the crowning touch. Oh baby!</p>
                                    <p><strong>Ingredients:</strong> Dr. Praeger’s Black Bean Burger, Focaccia bun, Balsamic Vinaigrette, Pesto, Tomato, Swiss Cheese</p>
                                </div>
                            </div>
                            <!-- /.panel -->
                            <div class="tab-pane panel entry-content wc-tab" id="tab-reviews">
                                <div class="tab-reviews">
                                    <div id="reviews" class="woocommerce-Reviews">
                                        <div id="review_form_wrapper">
                                            <div id="review_form">
                                                <div id="respond" class="comment-respond">
                                                    <h3 id="reply-title" class="comment-reply-title">
                                                        Be the first to review “Hawaii Vegetarian Pizza”
                                                        <small>
                                                            <a rel="nofollow" id="cancel-comment-reply-link" href="https://transvelo.github.io/pizzaro/product/hawaii-vegetarian-pizza/#respond" style="display:none;">Cancel reply</a>
                                                        </small>
                                                    </h3>
                                                    <form action="#" id="commentform" class="comment-form" novalidate="">
                                                        <p class="comment-notes">
                                                            <span id="email-notes">Your email address will not be published.</span> Required fields are marked <span class="required">*</span>
                                                        </p>
                                                        <p class="comment-form-rating">
                                                            <label>Your Rating</label>
                                                        </p>
                                                        <p class="stars">
                                                            <span>
                                                                <a class="star-1" href="#">1</a>
                                                                <a class="star-2" href="#">2</a>
                                                                <a class="star-3" href="#">3</a>
                                                                <a class="star-4" href="#">4</a>
                                                                <a class="star-5" href="#">5</a>
                                                            </span>
                                                        </p>

                                                        <p class="comment-form-comment">
                                                            <label for="comment">Your Review <span class="required">*</span></label>
                                                            <textarea id="comment" name="comment" cols="45" rows="8"></textarea>
                                                        </p>
                                                        <p class="comment-form-author">
                                                            <label for="author">Name <span class="required">*</span></label>
                                                            <input id="author" name="author" type="text" value="" size="30" aria-required="true" required="">
                                                        </p>
                                                        <p class="comment-form-email">
                                                            <label for="email">Email <span class="required">*</span></label>
                                                            <input id="email" name="email" type="email" value="" size="30" aria-required="true" required="">
                                                        </p>
                                                        <p class="form-submit">
                                                            <input name="submit" type="submit" id="submit" class="submit" value="Submit">
                                                            <input type="hidden" name="comment_post_ID" value="50" id="comment_post_ID">
                                                            <input type="hidden" name="comment_parent" id="comment_parent" value="0">
                                                        </p>
                                                    </form>
                                                </div>
                                                <!-- #respond -->
                                            </div>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.panel -->
                        </div>
                    </div>
                    <div class="section-products">
                        <h2 class="section-title">This Goes Great Withh</h2>
                        <div class="columns-4">
                            <ul class="products">
                                <li class="product first">
                                    <div class="product-outer">
                                        <div class="product-inner">
                                            <div class="product-image-wrapper">
                                                <a href="single-product-v1.html" class="woocommerce-LoopProduct-link">
                                                    <img src="~/assets/images/products/p9.jpg" class="img-responsive" alt="">
                                                </a>
                                            </div>
                                            <div class="product-content-wrapper">
                                                <a href="single-product-v1.html" class="woocommerce-LoopProduct-link">
                                                    <h3>Trio Cheese</h3>
                                                    <div itemprop="description">
                                                        <p style="max-height: none;">Extra-virgin olive oil, garlic, mozzarella, mushrooms and olives.</p>
                                                    </div>
                                                    <div class="yith_wapo_groups_container">
                                                        <div class="ywapo_group_container ywapo_group_container_radio form-row form-row-wide " data-requested="1" data-type="radio" data-id="1" data-condition="">
                                                            <h3><span>Pick Size</span></h3>
                                                            <div class="ywapo_input_container ywapo_input_container_radio">


                                                                <span class="ywapo_label_tag_position_after"><span class="ywapo_option_label ywapo_label_position_after">22 cm</span></span><span class="ywapo_label_price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>19</span></span>
                                                            </div>
                                                            <div class="ywapo_input_container ywapo_input_container_radio">

                                                                <span class="ywapo_label_tag_position_after"><span class="ywapo_option_label ywapo_label_position_after">29 cm</span></span>
                                                                <span class="ywapo_label_price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>25</span></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                                <div class="hover-area">
                                                    <a rel="nofollow" href="single-product-v1.html" data-quantity="1" data-product_id="51" data-product_sku="" class="button product_type_simple add_to_cart_button ajax_add_to_cart">Add to cart</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.product-outer -->
                                </li>
                                <!-- /.products -->
                                <li class="product ">
                                    <div class="product-outer">
                                        <div class="product-inner">
                                            <div class="product-image-wrapper">
                                                <a href="single-product-v1.html" class="woocommerce-LoopProduct-link">
                                                    <img src="~/assets/images/products/p10.jpg" class="img-responsive" alt="">
                                                </a>
                                            </div>
                                            <div class="product-content-wrapper">
                                                <a href="single-product-v1.html" class="woocommerce-LoopProduct-link">
                                                    <h3>Trio Cheese</h3>
                                                    <div itemprop="description">
                                                        <p style="max-height: none;">Extra-virgin olive oil, garlic, mozzarella, mushrooms and olives.</p>
                                                    </div>
                                                    <div class="yith_wapo_groups_container">
                                                        <div class="ywapo_group_container ywapo_group_container_radio form-row form-row-wide " data-requested="1" data-type="radio" data-id="1" data-condition="">
                                                            <h3><span>Pick Size</span></h3>
                                                            <div class="ywapo_input_container ywapo_input_container_radio">


                                                                <span class="ywapo_label_tag_position_after"><span class="ywapo_option_label ywapo_label_position_after">22 cm</span></span><span class="ywapo_label_price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>19</span></span>
                                                            </div>
                                                            <div class="ywapo_input_container ywapo_input_container_radio">

                                                                <span class="ywapo_label_tag_position_after"><span class="ywapo_option_label ywapo_label_position_after">29 cm</span></span>
                                                                <span class="ywapo_label_price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>25</span></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                                <div class="hover-area">
                                                    <a rel="nofollow" href="single-product-v1.html" data-quantity="1" data-product_id="51" data-product_sku="" class="button product_type_simple add_to_cart_button ajax_add_to_cart">Add to cart</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.product-outer -->
                                </li>
                                <!-- /.products -->
                                <li class="product ">
                                    <div class="product-outer">
                                        <div class="product-inner">
                                            <div class="product-image-wrapper">
                                                <a href="single-product-v1.html" class="woocommerce-LoopProduct-link">
                                                    <img src="~/assets/images/products/p2.jpg" class="img-responsive" alt="">
                                                </a>
                                            </div>
                                            <div class="product-content-wrapper">
                                                <a href="single-product-v1.html" class="woocommerce-LoopProduct-link">
                                                    <h3>Trio Cheese</h3>
                                                    <div itemprop="description">
                                                        <p style="max-height: none;">Extra-virgin olive oil, garlic, mozzarella, mushrooms and olives.</p>
                                                    </div>
                                                    <div class="yith_wapo_groups_container">
                                                        <div class="ywapo_group_container ywapo_group_container_radio form-row form-row-wide " data-requested="1" data-type="radio" data-id="1" data-condition="">
                                                            <h3><span>Pick Size</span></h3>
                                                            <div class="ywapo_input_container ywapo_input_container_radio">


                                                                <span class="ywapo_label_tag_position_after"><span class="ywapo_option_label ywapo_label_position_after">22 cm</span></span><span class="ywapo_label_price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>19</span></span>
                                                            </div>
                                                            <div class="ywapo_input_container ywapo_input_container_radio">

                                                                <span class="ywapo_label_tag_position_after"><span class="ywapo_option_label ywapo_label_position_after">29 cm</span></span>
                                                                <span class="ywapo_label_price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>25</span></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                                <div class="hover-area">
                                                    <a rel="nofollow" href="single-product-v1.html" data-quantity="1" data-product_id="51" data-product_sku="" class="button product_type_simple add_to_cart_button ajax_add_to_cart">Add to cart</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.product-outer -->
                                </li>
                                <!-- /.products -->
                                <li class="product last">
                                    <div class="product-outer">
                                        <div class="product-inner">
                                            <div class="product-image-wrapper">
                                                <a href="single-product-v1.html" class="woocommerce-LoopProduct-link">
                                                    <img src="~/assets/images/products/p1.jpg" class="img-responsive" alt="">
                                                </a>
                                            </div>
                                            <div class="product-content-wrapper">
                                                <a href="single-product-v1.html" class="woocommerce-LoopProduct-link">
                                                    <h3>Trio Cheese</h3>
                                                    <div itemprop="description">
                                                        <p style="max-height: none;">Extra-virgin olive oil, garlic, mozzarella, mushrooms and olives.</p>
                                                    </div>
                                                    <div class="yith_wapo_groups_container">
                                                        <div class="ywapo_group_container ywapo_group_container_radio form-row form-row-wide " data-requested="1" data-type="radio" data-id="1" data-condition="">
                                                            <h3><span>Pick Size</span></h3>
                                                            <div class="ywapo_input_container ywapo_input_container_radio">


                                                                <span class="ywapo_label_tag_position_after"><span class="ywapo_option_label ywapo_label_position_after">22 cm</span></span><span class="ywapo_label_price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>19</span></span>
                                                            </div>
                                                            <div class="ywapo_input_container ywapo_input_container_radio">

                                                                <span class="ywapo_label_tag_position_after"><span class="ywapo_option_label ywapo_label_position_after">29 cm</span></span>
                                                                <span class="ywapo_label_price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>25</span></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                                <div class="hover-area">
                                                    <a rel="nofollow" href="single-product-v1.html" data-quantity="1" data-product_id="51" data-product_sku="" class="button product_type_simple add_to_cart_button ajax_add_to_cart">Add to cart</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.product-outer -->
                                </li>
                                <!-- /.products -->
                            </ul>
                        </div>
                    </div>
                </div>
            </main>
            <!-- #main -->
        </div>
        <!-- #primary -->
    </div>
    <!-- .col-full -->
</div>