@using ProjectAss.Models;
@{
    Layout = "~/Views/Shared/_LayoutEmployee.cshtml";
}
<main class="body-content">
    <!-- Navigation Bar -->
    <nav class="navbar ms-navbar">
        <div class="ms-aside-toggler ms-toggler pl-0" data-target="#ms-side-nav" data-toggle="slideLeft">
            <span class="ms-toggler-bar bg-primary"></span>
            <span class="ms-toggler-bar bg-primary"></span>
            <span class="ms-toggler-bar bg-primary"></span>
        </div>
        <div class="logo-sn logo-sm ms-d-block-sm">
            <a class="pl-0 ml-0 text-center navbar-brand mr-0" href="index.html"><img src="~/assets/cssAdmin/img/costic/costic-logo-84x41.png" alt="logo"> </a>
        </div>
        <ul class="ms-nav-list ms-inline mb-0" id="ms-nav-options">
            <li class="ms-nav-item ms-nav-user dropdown">
                <a href="#" id="userDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img class="ms-user-img ms-img-round float-right" src="~/assets/cssAdmin/img/costic/customer-6.jpg" alt="people">
                </a>
                <ul class="dropdown-menu dropdown-menu-right user-dropdown" aria-labelledby="userDropdown">
                    <li class="dropdown-menu-header">
                        <h6 class="dropdown-header ms-inline m-0"><span class="text-disabled">Welcome</span></h6>
                    </li>
                    <li class="dropdown-divider"></li>
                    <li class="ms-dropdown-list">
                        <a class="media fs-14 p-2" href="pages/prebuilt-pages/user-profile.html">
                            <span><i class="flaticon-user mr-2"></i> Profile</span>
                        </a>
                        <a class="media fs-14 p-2" href="pages/prebuilt-pages/user-profile.html">
                            <span><i class="flaticon-gear mr-2"></i> Account Settings</span>
                        </a>
                    </li>
                    <li class="dropdown-divider"></li>
                    <li class="dropdown-menu-footer">
                        <a class="media fs-14 p-2" href="pages/prebuilt-pages/default-login.html">
                            <span><i class="flaticon-shut-down mr-2"></i> Logout</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <div class="ms-toggler ms-d-block-sm pr-0 ms-nav-toggler" data-toggle="slideDown" data-target="#ms-nav-options">
            <span class="ms-toggler-bar bg-primary"></span>
            <span class="ms-toggler-bar bg-primary"></span>
            <span class="ms-toggler-bar bg-primary"></span>
        </div>
    </nav>
    <div class="ms-content-wrapper">
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb pl-0">
                        <li class="breadcrumb-item">
                            <a href="#"><i class="material-icons">home</i> Home</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="#">Customer</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Customers Review</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="ms-content-wrapper">
            <div class="row">
                <!-- Recent Support Tickets -->
                <div class="col-xl-12 col-md-12">
                    <div class="ms-panel ms-panel-fh">
                        <div class="ms-panel-body p-0">
                            <ul class="ms-list ms-feed ms-twitter-feed ms-recent-support-tickets">
                                <li class="ms-list-item">
                                    <a href="#" class="media clearfix">
                                        <img src="~/assets/cssAdmin/img/costic/customer-1.jpg" class="ms-img-round ms-img-small" alt="This is another feature">
                                        <div class="media-body">
                                            <div class="customer-meta">
                                                <div class="new">
                                                    <h5 class="ms-feed-user mb-0">John Doe</h5>
                                                    <h6 class="ml-4 mb-0 text-red">Grilled Sandwich</h6>
                                                </div>
                                                <ul class="ms-star-rating rating-fill rating-circle ratings-new">
                                                    <li class="ms-rating-item">
                                                        <i class="material-icons">star</i>
                                                    </li>
                                                    <li class="ms-rating-item rated">
                                                        <i class="material-icons">star</i>
                                                    </li>
                                                    <li class="ms-rating-item rated">
                                                        <i class="material-icons">star</i>
                                                    </li>
                                                    <li class="ms-rating-item rated">
                                                        <i class="material-icons">star</i>
                                                    </li>
                                                    <li class="ms-rating-item rated">
                                                        <i class="material-icons">star</i>
                                                    </li>
                                                </ul>
                                            </div> <span class="my-2 d-block"> <i class="material-icons">date_range</i> December 24, 2020</span>
                                            <p class="d-block">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla luctus lectus a facilisis bibendum. Duis quis convallis sapien ...</p>
                                            <div class="d-flex justify-content-between align-items-end">
                                                <div class="ms-feed-controls">
                                                    <span>
                                                        <i class="material-icons">chat</i> 16
                                                    </span>
                                                    <span>
                                                        <i class="material-icons">attachment</i> 3
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="ms-list-item">
                                    <a href="#" class="media clearfix">
                                        <img src="~/assets/cssAdmin/img/costic/customer-2.jpg" class="ms-img-round ms-img-small" alt="This is another feature">
                                        <div class="media-body">
                                            <div class="customer-meta">
                                                <div class="new">
                                                    <h5 class="ms-feed-user mb-0">Ricky Martin</h5>
                                                    <h6 class="ml-4 mb-0 text-red">Fried Egg Sandwich</h6>
                                                </div>
                                                <ul class="ms-star-rating rating-fill rating-circle ratings-new">
                                                    <li class="ms-rating-item">
                                                        <i class="material-icons">star</i>
                                                    </li>
                                                    <li class="ms-rating-item rated">
                                                        <i class="material-icons">star</i>
                                                    </li>
                                                    <li class="ms-rating-item rated">
                                                        <i class="material-icons">star</i>
                                                    </li>
                                                    <li class="ms-rating-item rated">
                                                        <i class="material-icons">star</i>
                                                    </li>
                                                    <li class="ms-rating-item rated">
                                                        <i class="material-icons">star</i>
                                                    </li>
                                                </ul>
                                            </div> <span class="my-2 d-block"> <i class="material-icons">date_range</i> December 24, 2020</span>
                                            <p class="d-block">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla luctus lectus a facilisis bibendum. Duis quis convallis sapien ...</p>
                                            <div class="d-flex justify-content-between align-items-end">
                                                <div class="ms-feed-controls">
                                                    <span>
                                                        <i class="material-icons">chat</i> 16
                                                    </span>
                                                    <span>
                                                        <i class="material-icons">attachment</i> 3
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="ms-list-item">
                                    <a href="#" class="media clearfix">
                                        <img src="~/assets/cssAdmin/img/costic/customer-3.jpg" class="ms-img-round ms-img-small" alt="This is another feature">
                                        <div class="media-body">
                                            <div class="customer-meta">
                                                <div class="new">
                                                    <h5 class="ms-feed-user mb-0">Joe semual</h5>
                                                    <h6 class="ml-4 mb-0 text-red">Peri Peri Fries</h6>
                                                </div>
                                                <ul class="ms-star-rating rating-fill rating-circle ratings-new">
                                                    <li class="ms-rating-item">
                                                        <i class="material-icons">star</i>
                                                    </li>
                                                    <li class="ms-rating-item rated">
                                                        <i class="material-icons">star</i>
                                                    </li>
                                                    <li class="ms-rating-item rated">
                                                        <i class="material-icons">star</i>
                                                    </li>
                                                    <li class="ms-rating-item rated">
                                                        <i class="material-icons">star</i>
                                                    </li>
                                                    <li class="ms-rating-item rated">
                                                        <i class="material-icons">star</i>
                                                    </li>
                                                </ul>
                                            </div> <span class="my-2 d-block"> <i class="material-icons">date_range</i> December 24, 2020</span>
                                            <p class="d-block">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla luctus lectus a facilisis bibendum. Duis quis convallis sapien ...</p>
                                            <div class="d-flex justify-content-between align-items-end">
                                                <div class="ms-feed-controls">
                                                    <span>
                                                        <i class="material-icons">chat</i> 16
                                                    </span>
                                                    <span>
                                                        <i class="material-icons">attachment</i> 3
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="ms-list-item">
                                    <a href="#" class="media clearfix">
                                        <img src="~/assets/cssAdmin/img/costic/customer-4.jpg" class="ms-img-round ms-img-small" alt="This is another feature">
                                        <div class="media-body">
                                            <div class="customer-meta">
                                                <div class="new">
                                                    <h5 class="ms-feed-user mb-0">Ricky Martin</h5>
                                                    <h6 class="ml-4 mb-0 text-red">Spicy Grilled Burger</h6>
                                                </div>
                                                <ul class="ms-star-rating rating-fill rating-circle ratings-new">
                                                    <li class="ms-rating-item">
                                                        <i class="material-icons">star</i>
                                                    </li>
                                                    <li class="ms-rating-item rated">
                                                        <i class="material-icons">star</i>
                                                    </li>
                                                    <li class="ms-rating-item rated">
                                                        <i class="material-icons">star</i>
                                                    </li>
                                                    <li class="ms-rating-item rated">
                                                        <i class="material-icons">star</i>
                                                    </li>
                                                    <li class="ms-rating-item rated">
                                                        <i class="material-icons">star</i>
                                                    </li>
                                                </ul>
                                            </div> <span class="my-2 d-block"> <i class="material-icons">date_range</i> December 24, 2020</span>
                                            <p class="d-block">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla luctus lectus a facilisis bibendum. Duis quis convallis sapien ...</p>
                                            <div class="d-flex justify-content-between align-items-end">
                                                <div class="ms-feed-controls">
                                                    <span>
                                                        <i class="material-icons">chat</i> 16
                                                    </span>
                                                    <span>
                                                        <i class="material-icons">attachment</i> 3
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="ms-list-item">
                                    <a href="#" class="media clearfix">
                                        <img src="~/assets/cssAdmin/img/costic/customer-5.jpg" class="ms-img-round ms-img-small" alt="This is another feature">
                                        <div class="media-body">
                                            <div class="customer-meta">
                                                <div class="new">
                                                    <h5 class="ms-feed-user mb-0">Lim Shojin</h5>
                                                    <h6 class="ml-4 mb-0 text-red">Grilled Sandwich</h6>
                                                </div>
                                                <ul class="ms-star-rating rating-fill rating-circle ratings-new">
                                                    <li class="ms-rating-item">
                                                        <i class="material-icons">star</i>
                                                    </li>
                                                    <li class="ms-rating-item rated">
                                                        <i class="material-icons">star</i>
                                                    </li>
                                                    <li class="ms-rating-item rated">
                                                        <i class="material-icons">star</i>
                                                    </li>
                                                    <li class="ms-rating-item rated">
                                                        <i class="material-icons">star</i>
                                                    </li>
                                                    <li class="ms-rating-item rated">
                                                        <i class="material-icons">star</i>
                                                    </li>
                                                </ul>
                                            </div> <span class="my-2 d-block"> <i class="material-icons">date_range</i> December 24, 2020</span>
                                            <p class="d-block">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla luctus lectus a facilisis bibendum. Duis quis convallis sapien ...</p>
                                            <div class="d-flex justify-content-between align-items-end">
                                                <div class="ms-feed-controls">
                                                    <span>
                                                        <i class="material-icons">chat</i> 16
                                                    </span>
                                                    <span>
                                                        <i class="material-icons">attachment</i> 3
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>